{
  "env": {
    "es6": false,
    "node": true,
    "mocha": false
  },
  "extends": "eslint:recommended",
  "globals": {
    "require": true
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "local" }],
    "no-console": 0,
    "indent": ["error", 2],
    "block-scoped-var": 1,
    "curly": 2,
    "eqeqeq": 2,
    "no-param-reassign": 2
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}